body, h1, h2, h3, h4, h5, ol, ul, li, dl, dd, form, p {
    margin: 0;
    font-family: "微软雅黑"
}

ul, ol {
    padding-left: 0;
    list-style-type: none
}

img {
    border: 0;
    vertical-align: middle
}

body {
    color: #666;
    background-color: #efefef;
    -webkit-tap-highlight: none
}

a {
    color: #666;
    text-decoration: none;
    background: transparent
}

a:link, a:active, a:hover, a:focus {
    outline: 0;
    color: #666
}

p {
    line-height: 1.4em
}

input, textarea, select, h1, h2, h3, h4, h5, p {
    font-size: 100%
}

input, .input {
    line-height: 1.4em;
    padding: .2em .6em;
    border: 0
}

input[type="text"], input[type="tel"], input[type="number"] {
    width: 200px
}

textarea {
    width: 96%;
    padding: .5em 2%;
    border: 0
}

.g3 {
    color: #333
}

.g6 {
    color: #666
}

.g9 {
    color: #999
}

.cr {
    color: #f34747
}

.cw {
    color: #fff
}

.cg {
    color: #45bc53
}

.cy {
    color: #c89314
}

.cb {
    color: #10557f
}

.cs {
    color: #bebebe
}

.red {
    color: red
}

.bcf, .f {
    background-color: #fff
}

.bcgr {
    background-color: #dfdad2
}

.bcg {
    background-color: #69c574
}

.bce {
    background-color: #efefef
}

.bcea {
    background-color: #eceaea
}

.bce5 {
    background-color: #e5e5e5
}

.mauto {
    margin-left: auto;
    margin-right: auto
}

.dn {
    display: none
}

.dib {
    display: inline-block
}

.db {
    display: block
}

.h45 {
    height: 45px
}

.h30 {
    height: 30px
}

.h25 {
    height: 25px
}

.h20 {
    height: 20px
}

.rel {
    position: relative
}

.abs {
    position: absolute
}

.tl {
    text-align: left
}

.tc {
    text-align: center
}

.tr {
    text-align: right
}

.tj {
    text-align: justify
}

.b {
    font-weight: bold
}

.l {
    float: left
}

.r {
    float: right
}

.ml5 {
    margin-left: 5px
}

.mr5 {
    margin-right: 5px
}

.mt8 {
    margin-top: 8px
}

.mt5 {
    margin-top: 5px
}

.mb5 {
    margin-bottom: 5px
}

.mt3 {
    margin-top: 3px
}

.ml10 {
    margin-left: 10px
}

.mr10 {
    margin-right: 10px
}

.mt10 {
    margin-top: 10px
}

.mb10 {
    margin-bottom: 10px
}

.mr30 {
    margin-right: 30px
}

.mt15 {
    margin-top: 15px
}

.mt20 {
    margin-top: 20px
}

.mt25 {
    margin-top: 25px
}

.mt50 {
    margin-top: 50px
}

.m10 {
    margin: 10px
}

.ml70 {
    margin-left: 79px;
    margin-right: 15px
}

.ml90 {
    margin-left: 90px
}

.ml100 {
    margin-left: 100px
}

.ml50 {
    margin-left: 50px
}

.ml110 {
    margin-left: 110px;
    margin-right: 20px
}

.p2 {
    padding: 2px
}

.pt5 {
    padding-top: 5px
}

.pb5 {
    padding-bottom: 5px
}

.pl5 {
    padding-left: 5px
}

.pl5 {
    padding-right: 5px
}

.pt10 {
    padding-top: 10px
}

.pb10 {
    padding-bottom: 10px
}

.pl10 {
    padding-left: 10px
}

.pl50 {
    padding-left: 50px
}

.pr10 {
    padding-right: 10px
}

.ptb10 {
    padding: 10px 0
}

.p3 {
    padding: 3px
}

.p5 {
    padding: 5px
}

.p10 {
    padding: 10px
}

.pr25 {
    padding-right: 20px
}

.ovh {
    overflow: hidden
}

.w100 {
    width: 100%
}

.w96 {
    width: 96%
}

.w90 {
    width: 90%
}

.w75 {
    width: 75%
}

.w70 {
    width: 65%
}

.w55 {
    width: 55%
}

.w47 {
    width: 47%
}

.w31 {
    width: 32%
}

.w28 {
    width: 28%
}

.w25 {
    width: 24%
}

.w15 {
    width: 20%
}

.w20 {
    width: 15%
}

.wp40 {
    width: 40px
}

.wp50 {
    width: 53px !important
}

.wp60 {
    width: 60px
}

.wp80 {
    width: 80px
}

.wp110 {
    width: 110px
}

.wp130 {
    width: 130px !important
}

.wp170 {
    width: 150px
}

.wp180 {
    width: 180px
}

.wp200 {
    width: 230px !important
}

.bdc {
    border: 1px solid #ccc
}

.cur {
    cursor: pointer
}

.line {
    border: 1px solid #d5d5d5
}

.linet {
    border-top: 1px solid #d5d5d5
}

.lineb {
    border-bottom: 1px solid #d5d5d5
}

.liner {
    border-right: 1px solid #d0cdc4
}

.dash {
    border-right: 1px dashed #d0cdc4
}

.dasht {
    border-top: 1px dashed #d0cdc4
}

.linel {
    border-left: 1px solid #fff
}

.seal {
    border-left: 2px solid #dbd9d3
}

.f12 {
    font-size: .8em
}

.fs18 {
    font-size: 18px
}

.f18 {
    font-size: 1.1em
}

.f19 {
    font-size: 1.2em
}

.f20 {
    font-size: 1.4em
}

.lh {
    line-height: 1.4em
}

.opa {
    opacity: 0
}

.tdu {
    text-decoration: underline
}

.clear {
    clear: both
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

.clearfix {
    *zoom: 1
}

.abs {
    position: absolute
}

.no {
    border: 0;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    background-color: transparent
}

.opa, .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0
}

.overlay {
    background-color: #000;
    opacity: .3
}

.tovh {
    text-indent: -99px;
    overflow: hidden
}

.ell {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}

.well {
    display: table-cell !important;
    width: 2000px
}

.radius {
    border-radius: 5px;
    border: 1px solid #d5d5d5;
    box-shadow: 0 2px 0 #d5d5d5;
    background-color: #fff;
    overflow: hidden
}

.s_radius {
    border: 2px solid #d4cece;
    border-radius: 5px;
    background-color: #f7f7f7
}

.wrap {
    margin: .4em .5em;
    overflow: hidden
}

.p_a {
    padding: .4em .5em;
    display: inline-block
}

.input_a {
    line-height: 1.4em;
    padding: .2em 0;
    display: inline-block
}

.btn {
    background: 0;
    border: 1px solid #d2d2d2;
    background-color: #e1e1e1;
    padding: .2em 0;
    display: inline-block;
    text-align: center;
    background-image: -webkit-linear-gradient(top, #e1e1e1, #e1e1e1);
    background-image: -moz-linear-gradient(top, #e1e1e1, #e1e1e1)
}

.gbtn, .rbtn, .wbtn, .abtn {
    background: 0;
    border-radius: 5px;
    border: 1px solid;
    border-top: 0;
    display: inline-block;
    text-align: center
}

.abtn {
    background-color: #e1e1e1;
    border-color: #ddd;
    background-image: -webkit-linear-gradient(top, #e1e1e1, #e1e1e1);
    background-image: -moz-linear-gradient(top, #e1e1e1, #e1e1e1)
}

.gbtn {
    background-color: #69c574;
    color: #fff;
    border-color: #64b66e;
    background-image: -webkit-linear-gradient(top, #69c574, #69c574);
    background-image: -moz-linear-gradient(top, #69c574, #69c574)
}

.rbtn {
    background-color: #f34747;
    color: #fff;
    border-color: #df4545;
    background-image: -webkit-linear-gradient(top, #f34747, #f34747);
    background-image: -moz-linear-gradient(top, #f34747, #f34747)
}

.wbtn {
    background-color: #fff;
    color: #666;
    border-color: #e9e9e9;
    background-image: -webkit-linear-gradient(top, #fff, #fff);
    background-image: -moz-linear-gradient(top, #fff, #fff)
}

.ico_bi, .ico_hui, .ico_zhuan, .ico_ding {
    border-radius: 3px;
    color: #fff;
    float: left
}

.ico_bi {
    background-color: #cc9b1c;
    background-image: -webkit-linear-gradient(top, #daa828, #b8870a);
    background-image: -moz-linear-gradient(top, #daa828, #b8870a)
}

.ico_hui {
    background-color: #fd8823;
    background-image: -webkit-linear-gradient(top, #fc943b, #ff7701);
    background-image: -moz-linear-gradient(top, #fc943b, #ff7701)
}

.ico_zhuan {
    background-color: #e42851;
    background-image: -webkit-linear-gradient(top, #ff476f, #c4032d);
    background-image: -moz-linear-gradient(top, #ff476f, #c4032d)
}

.ico_ding {
    background-color: #61a301;
    background-image: -webkit-linear-gradient(top, #87c502, #3e8301);
    background-image: -moz-linear-gradient(top, #87c502, #3e8301)
}

.ico_box {
    width: 78px;
    height: 78px;
    border-radius: 10px;
    text-align: center;
    line-height: 78px;
    font-size: 50px;
    font-family: "微软雅黑"
}

.black, .user, .index, .selbtn, .ico_aa, .ico_sel, .ico_gold, .search, .ico_star, .ico_star2, .ico_lov, .ico_name, .ico_photo, .ico_addr, .ico_name2, .ico_mi, .ico_x, .infor {
    background-image: url(../images/icon2.v21.gif);
    background-repeat: no-repeat;
    display: inline-block
}

.black {
    background-position: 0 0;
    width: 8px;
    height: 13px
}

.user {
    background-position: -160px 0;
    width: 18px;
    height: 17px
}

.index {
    background-position: -80px 0;
    width: 20px;
    height: 17px
}

.selbtn {
    background-position: 0 -80px;
    width: 12px;
    height: 8px
}

.ico_aa {
    background-position: right -40px;
    width: 8px;
    height: 14px
}

.ico_sel {
    background-position: -80px -74px;
    width: 9px;
    height: 16px
}

.ico_gold {
    background-position: -160px -75px;
    width: 25px;
    height: 20px;
    padding-left: 24px;
    font-size: 10px
}

.search {
    background-position: 0 -120px;
    width: 18px;
    height: 18px
}

.ico_star {
    background-position: -157px -117px;
    width: 19px;
    height: 18px;
    border-radius: 5px;
    background-color: #fff
}

.ico_star2 {
    background-position: 3px -237px;
    width: 19px;
    height: 18px;
    border-radius: 5px;
    background-color: #f39047
}

.ico_lov {
    background-position: -80px -120px;
    width: 16px;
    height: 17px
}

.ico_name {
    background-position: 0 -160px;
    width: 18px;
    height: 18px
}

.ico_photo {
    background-position: -80px -160px;
    width: 18px;
    height: 18px
}

.ico_addr {
    background-position: -160px -160px;
    width: 10px;
    height: 13px
}

.ico_name2 {
    background-position: 0 -200px;
    width: 20px;
    height: 18px
}

.ico_mi {
    background-position: -80px -200px;
    width: 16px;
    height: 17px
}

.ico_x {
    background-position: -159px -199px;
    width: 18px;
    height: 15px;
    background-color: #69c574;
    padding: 4px 0 0 2px;
    border-radius: 3px
}

.ico_y {
    width: 16px;
    height: 13px;
    background-color: #e2e2e2;
    padding: 4px 0 0 2px;
    border-radius: 3px;
    border: 1px solid #8f8f8e
}

.infor {
    background-position: -78px -240px;
    width: 17px;
    height: 18px
}

.order, .cash, .rewards, .fav, .letter, .out, .detail, .delete, .emall, .open {
    background-image: url(../images/icon3.png);
    background-repeat: no-repeat;
    padding-left: 25px
}

.order {
    background-position: 0 0
}

.cash {
    background-position: 0 -38px
}

.rewards {
    background-position: 0 -80px
}

.fav {
    background-position: 0 -120px
}

.letter {
    background-position: 0 -158px
}

.out {
    background-position: 0 -220px
}

.detail {
    background-position: 0 -260px
}

.delete {
    background-position: 5px -295px
}

.emall {
    background-position: 0 -336px
}

.open {
    background-position: 0 -378px
}

.top1, .top2, .top3 {
    background-image: url(../images/p123.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px
}

.top1 {
    background-position: 0 0
}

.top2 {
    background-position: 0 -40px
}

.top3 {
    background-position: 0 -80px
}

.book, .uicon, .exchange, .take, .book span, .uicon span, .exchange span, .take span, .atop, .arank, .atext {
    background-image: url(../images/ind.v21.gif);
    background-repeat: no-repeat;
    display: inline-block
}

.book, .uicon, .exchange, .take {
    background-position: -120px -120px;
    width: 67px
}

.book span, .uicon span, .exchange span, .take span {
    padding-top: 75px
}

.book span {
    background-position: 15px 15px
}

.uicon span {
    background-position: -55px 15px
}

.exchange span {
    background-position: -125px 15px
}

.take span {
    background-position: 9px -196px
}

.atop, .arank, .atext {
    width: 34px;
    height: 23px
}

.atop {
    background-position: 0 -100px
}

.arank {
    background-position: 3px -142px
}

.atext {
    background-position: -3px -174px
}

.list li, .list_a {
    border-bottom: 1px solid #d5d5d5;
    padding: 10px;
    overflow: hidden;
    background-color: #fff;
    display: block;
    position: relative;
    word-break: break-all;
    word-wrap: break-word
}

.list3 li {
    border-bottom: 1px solid #c2c2c2;
    padding: 10px 5px;
    overflow: hidden
}

.join_a {
    height: 44px;
    line-height: 44px;
    background: #1ec2ed;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    background-image: -webkit-linear-gradient(top, #30cdf7, #09b6e1)
}

.reduce {
    background-color: #f93;
    color: #fff;
    display: inline-block;
    padding: 1px 5px;
    margin-left: 5px
}

.sex_box {
    border: 1px solid #d5d5d5;
    border-radius: 5px
}

.sex, .num {
    width: 90px;
    height: 28px;
    border-radius: 4px
}

.sex span {
    width: 45px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    cursor: pointer
}

.num span {
    width: 30px;
    height: 28px;
    line-height: 26px;
    text-align: center;
    overflow: hidden
}

.num_s {
    background-color: #69c574;
    color: #fff;
    font-weight: bold;
    font-size: 1.6em;
    cursor: pointer
}

#cashNumDesc {
    border-radius: 4px 0 0 4px;
    font-size: 2em;
    line-height: 22px
}

#cashNumAsc {
    border-radius: 0 4px 4px 0
}

.cash_n {
    padding: 0 !important;
    width: 30px !important;
    height: 28px;
    overflow: hidden;
    text-align: center
}

.sex_n {
    background: url(../images/nv.gif) left top no-repeat
}

.sex_v {
    background: url(../images/nv.gif) left bottom no-repeat
}

.bonus {
    width: 96%;
    margin: 0 auto
}

.bonus img {
    border: 5px solid #fff;
    margin-bottom: 10px
}

.close {
    position: absolute;
    top: -5px;
    right: -5px;
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 10px;
    background-color: #8e8d8d;
    font-size: 1.2em;
    z-index: 999
}

.u_box {
    background-color: #4e4949;
    padding: 20px 0
}

.u_header {
    width: 153px;
    margin: 0 auto;
    padding-bottom: 25px
}

.u_bg {
    width: 113px;
    height: 113px;
    background: url(../images/user_bg.png) center no-repeat;
    z-index: 10;
    left: 20px;
    top: 0
}

.u_text {
    left: 0;
    top: 113;
    z-index: 100;
    text-align: center
}

.dl dl {
    overflow: hidden
}

.dl dt {
    float: left
}

.dl dd {
    display: table-cell;
    width: 2000px
}

.ptext {
    height: 20px;
    line-height: 20px;
    top: auto;
    bottom: 0;
    text-align: center;
    opacity: .7
}

.business {
    margin: 10px;
    border-top: 1px solid #f7d4cf;
    border-left: 1px solid #f7d4cf;
    background-color: #f7ecec
}

.business td {
    padding: 5px;
    border-right: 1px solid #f7d4cf;
    border-bottom: 1px solid #f7d4cf;
    text-align: center
}

.business a, .topbox a, .list a {
    display: block;
    overflow: hidden
}

.moreBus {
    width: 18px;
    height: 16px;
    background-position: -170px -90px;
    position: absolute;
    right: 0;
    bottom: 0
}

.topbox {
    margin: 10px;
    border-top: 1px solid #d2d2d2;
    border-left: 1px solid #d2d2d2;
    background-color: #e9e9e9
}

.topbox td {
    padding: 5px;
    border-right: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
    text-align: center
}

.jifen {
    margin-right: -20px
}

.jifen li {
    float: left;
    width: 90px;
    display: inline;
    margin-right: 15px;
    font-size: .8em;
    overflow: hidden
}

.nice_wall {
    border: 1px solid #d5d5d5;
    border-radius: 5px;
    box-shadow: 0 2px 0 #dedede;
    background-color: #fff
}

.city_li {
    border-top: 1px solid #d2d2d2;
    border-left: 1px solid #d2d2d2;
    overflow: hidden;
    display: inline-block
}

.city_li li {
    float: left;
    height: 40px;
    overflow: hidden;
    text-align: center;
    border-bottom: 1px solid #d2d2d2;
    border-right: 1px solid #d2d2d2;
    padding: 0 20px;
    line-height: 40px;
    background-color: #fff
}
.area{
    background-color: #fff;
    border-bottom: 1px solid #d2d2d2;
    border-right: 1px solid #d2d2d2;
    float: left;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    padding: 0 20px;
    text-align: center;
}

.scroll_img {
    width: 320px;
    height: 100px;
    margin: 10px auto 0;
    position: relative
}

.scroll_img #detailSlide {
    position: absolute
}

.scroll_img .slide {
    float: left;
    width: 320px;
    height: 100px
}

.error {
    text-align: center;
    padding: 50px 0;
    font: bold 1.2em "微软雅黑"
}

.header {
    height: 38px;
    overflow: hidden
}

.f_a a {
    float: left;
    width: 33%;
    text-align: center;
    color: #999;
    padding: 10px 0
}

.app a {
    display: block;
    padding-bottom: 20px;
    padding-left: 20px;
    color: #126185
}

.subm label {
    float: left;
    width: 25%;
    text-align: center;
    padding: 10px 0;
    cursor: pointer
}

#picbox {
    padding-bottom: 127px
}

#picbox img {
    width: 150px
}

#loadImg {
    position: absolute;
    left: 0;
    display: none
}

.rq {
    width: 20px !important;
    margin-top: -6px
}

.listn li {
    border: 1px solid #d5d5d5;
    border-radius: 10px;
    background-color: #fff;
    margin-bottom: 10px
}

.listn li img {
    border-radius: 10px 10px 0 0;
    margin-bottom: 10px
}

.appload, .apploadbox, .apploadbg {
    position: absolute;
    width: 100%;
    height: 50px;
    left: 0;
    bottom: 0
}

.appload {
    position: fixed;
    color: #fff;
    font: bold 14px "微软雅黑";
    z-index: 99
}

.apploadbox {
    z-index: 98
}

.apploadbox a:link, .apploadbox a:active, .apploadbox a:hover, .apploadbox a:focus {
    color: #fff
}

.apploadbg {
    background-color: #000;
    opacity: .7;
    z-index: 9
}

.applogo {
    width: 38px;
    height: 39px;
    margin: 5px 5px 0 5px
}

.apptext {
    -moz-text-align-last: justify;
    -webkit-text-align-last: justify
}

.apploadbtn {
    font: bold 18px "微软雅黑";
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 3px;
    margin: 10px 0 0 5px
}

.appclose {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: #8a8a8a;
    border-radius: 15px;
    font-size: 20px;
    margin: 10px 5px 0 0
}

.page_on, .page_able, .page_off {
    display: inline-block;
    width: 17%;
    margin-right: 1%;
    text-align: center;
    overflow: hidden;
    padding: 2px 0;
    line-height: 1.4em
}

.page_on {
    width: 21%
}

.page_able, .page_off {
    border: 1px solid #d2d2d2;
    background-color: #e1e1e1;
    padding: .2em 0;
    display: inline-block
}

.page_off, .page_off {
    color: #999
}

.pages {
    padding: .7em 0;
    overflow: hidden
}

.pages2 {
    text-align: center
}

.pages2 .page_on, .pages2 .page_able, .pages2 .page_off {
    width: 28%;
    line-height: 1.6em
}

.wm_meun {
    min-height: 380px
}

.order_box {
    border: 2px solid #c7c7c7;
    border-radius: 10px;
    background-color: #fff;
    margin: 10px
}

.order_box_radius {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0
}

.order_list {
    padding-left: 20px
}

.order_list li {
    border-bottom: 1px solid #c7c7c7;
    line-height: 40px;
    color: #838383
}

.order_a, .order_a2, .order_a3, .order_a4 {
    background-color: #36b1d4;
    color: #fff;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    display: block;
    border-radius: 0 0 8px 8px
}

.order_a, .order_a3 {
    border-radius: 0 0 8px 8px
}

.order_a4 {
    border-radius: 8px 8px 0 0
}

.order_no_bbg {
    width: 100%;
    background-color: #f0eff4
}

.order_mlr2 {
    margin: 10px;
    margin-top: -10px
}

.order_no_bg {
    background: #fff url(/b0/fbook/weixin/img/order_no_bg.png) no-repeat center bottom
}

.order_now {
    background: url(/b0/fbook/weixin/img/order_new.png) no-repeat right center;
    padding-right: 25px
}

.order_new_a {
    width: 30%;
    line-height: 32px;
    background-color: #fe5161;
    margin: 10px 0;
    color: #fff
}

.bbn {
    border-bottom: 0
}

.num span.cashNum {
    width: 28px;
    line-height: 24px;
    color: #6e758a;
    font-weight: bold;
    font-size: 1.6em;
    cursor: pointer
}

.wm_meun .num span.cash_n {
    border-left: 1px solid #c4c8ce;
    border-right: 1px solid #c4c8ce;
    line-height: 28px
}

.numbox {
    width: 40px;
    height: 30px;
    text-align: center;
    overflow: hidden;
    line-height: 24px;
    color: #6e758a;
    font-weight: bold;
    font-size: 2em;
    cursor: pointer;
    border: 1px solid #c4c8ce
}

.tatalbox {
    background-color: #f8f8f8;
    margin-top: 30px;
    overflow: hidden;
    margin-bottom: 50px
}

.tatalbox2 {
    background-color: #fff;
    padding-top: 10px;
    overflow: hidden;
    border-top: 1px solid #ededed;
    margin-top: -1px;
    margin-bottom: 50px
}

.tatalbox3 {
    padding: 10px;
    border-top: 1px solid #c7c7c7
}

.tatalp {
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #f42b2b;
    font-size: 20px;
    border-bottom: 1px solid #b2b2b2
}

.tatalp a {
    color: #f42b2b
}

.btnbn {
    display: inline-block;
    border: 1px solid #04a9d5;
    color: #00bae7;
    padding: 5px 15px;
    border-radius: 10px;
    background-image: -webkit-linear-gradient(top, #fff, #e8e8e8)
}

.order_sel {
    float: left;
    width: 75px;
    background-color: #f0eff4
}

.order_sel a {
    display: block;
    padding: 15px 0 15px 5px;
    line-height: 20px;
    font-weight: bold;
    cursor: pointer
}

.order_sel li a.active {
    background-color: #fff;
    color: #1cc1eb
}

.tabbg {
    background-color: #fff
}

.subm {
    padding: 10px
}

.subm li {
    float: left;
    width: 24%;
    text-align: center;
    padding: 7px 0;
    cursor: pointer;
    border-radius: 10px
}

.subm .active {
    background-color: #ff6767
}

.wm_ayment li {
    background-color: #efefef;
    margin-right: 10px
}

.sexbox span {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #e3ddd8;
    display: inline-block;
    margin: 5px 5px 0 15px;
    cursor: pointer
}

.sexbox span.active {
    background-color: #ff6767
}

#picbox {
    margin: 0 auto;
    width: 100%
}

#picbox img {
    width: 150px
}

.nice_wall {
    border: 1px solid #fff;
    border-radius: 5px;
    box-shadow: 0 2px 0 #fff;
    background-color: #fff
}

.picbg, .pic_one_intro {
    background-color: #36b1d4;
    color: #fff;
    padding: 5px
}

.pic_one_intro {
    width: 99%;
    margin-left: .5%;
    padding: 5px 0
}

.phototwo .p_li {
    float: left;
    width: 49%;
    margin-left: 1%;
    margin-bottom: 1%
}

.photoone img {
    margin-left: .5%;
    margin-top: 1%
}

a.tela {
    display: block;
    width: 98%;
    height: 45px;
    margin: 0 auto 10px;
    border-radius: 5px;
    background-color: #03d96d;
    color: #fff;
    font-size: 20px;
    line-height: 45px
}

.footer p {
    line-height: 50px
}

.active .cwhite {
    color: #fff
}

.searchUl li {
    cursor: pointer
}

.searchUl li:hover {
    background-color: #efefef
}

.order_click {
    color: #fff;
    background-color: #fe5161;
    background-image: -webkit-linear-gradient(top, #fe5161, #fe5161);
    border-radius: 5px;
    box-shadow: 0 0 2px #fe929c inset;
    padding: 5px 10px;
    border: 1px solid #e6394a;
    margin-top: 10px;
    display: inline-block
}

.order_false {
    background-color: #9e9e9e;
    background-image: -webkit-linear-gradient(top, #9e9e9e, #9e9e9e);
    box-shadow: 0 0 2px #c2c2c2 inset;
    border: 1px solid #969696
}

.order_sel2 li a.active, .wm_meun span.cashNum, .wm_meun .numbox, .wm_meun2 span.cashNum, .wm_meun2 .numbox {
    color: #fe5161
}

.res_name_bg {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 45px;
    background: #4d2a2a;
    opacity: .5
}

.res_name {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    color: #fff;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.2em;
    line-height: 45px
}

.res_info {
    color: #545454;
    font-size: .9em
}

.more {
    position: relative;
    display: inline-block;
    float: right;
    padding: 3px 15px 3px 5px;
    background: #f34747;
    color: #fff;
    font-size: .7em;
    text-align: center;
    letter-spacing: 5px;
    cursor: pointer
}

.triangle_down, .triangle_up {
    position: absolute;
    border-style: solid dashed dashed;
    display: inline-block;
    border-width: 5px;
    width: 0;
    height: 0;
    overflow: hidden
}

.triangle_down {
    top: 7px;
    border-color: #fff transparent transparent
}

.triangle_up {
    top: 2px;
    border-color: transparent transparent #fff
}