
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, button, input, textarea, blockquote, th, td {
    margin: 0;
    padding: 0;
}
body {
    background: none repeat scroll 0 0 #FEFEFE;
}
p {
    font-family: inherit;
    font-size: 14px;
    line-height: 1.5em;
    margin: 0 0 5px;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    color: inherit;
    font-family: inherit;
    font-weight: bold;
    line-height: 1.5em;
}
h1 {
    font-size: 16px;
}
h2 {
    font-size: 15px;
}
h3 {
    font-size: 14px;
}
h4 {
    font-size: 14px;
}
h5 {
    font-size: 13px;
}
h6 {
    font-size: 13px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 100%;
}
dt, dd, li {
    line-height: 1.5em;
}
fieldset, img {
    border: 0 none;
}
address, caption, cite, code, dfn, th, var {
    font-style: normal;
    font-weight: normal;
}
ol, ul, li {
    list-style: none outside none;
}
caption, th {
    text-align: left;
}
q:before, q:after {
    content: "";
}
abbr, acronym {
    border: 0 none;
    font-variant: normal;
}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}
a, span, button {
    font-family: inherit;
    font-size: inherit;
}
p, span {
    color: inherit;
}
body {
    color: #808080;
    font-family: 'Microsoft YaHei','微软雅黑',Helvetica,Sans-serif;
    font-size: 14px;
    margin: 0;
    overflow-y: scroll;
}
textarea {
    font-size: 12px;
    margin-bottom: 10px;
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}
audio, canvas, video {
    display: inline-block;
}
a {
    color: #3399CC;
    cursor: pointer;
    text-decoration: none;
}
a:hover, a:active {
    outline: 0 none;
    text-decoration: none;
}
a:hover {
    color: #267399;
}
img {
    border: 0 none;
    height: auto;
    vertical-align: middle;
}
button, input, select, textarea {
    font-size: 100%;
    vertical-align: middle;
}
button:focus, input:focus, select:focus, textarea:focus {
    outline: medium none;
}
label, input, button, select, textarea {
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
}
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0 none;
    padding: 0;
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
}
textarea {
    overflow: auto;
    resize: none;
    vertical-align: top;
}
abbr[title] {
    border-bottom: 1px dotted #D6D6D6;
    cursor: help;
}
input:focus, textarea:focus, select:focus {
    box-shadow: 0 0 6px #AAE1F5;
}
pre {
    background-color: #F5F5F5;
    border: 1px solid #D6D6D6;
    border-radius: 4px;
    color: #333333;
    display: block;
    font-family: Menlo,Monaco,"Courier New",monospace;
    font-size: 12px;
    line-height: 18px;
    margin: 0 0 9px;
    padding: 8.5px;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
}
label {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}
input, textarea, select {
    border: 1px solid #E7E7E7;
    color: #808080;
    display: inline-block;
    height: 18px;
    padding: 4px;
}
input, textarea {
    width: 210px;
}
label input, label textarea, label select {
    display: block;
}
input[type="image"], input[type="checkbox"], input[type="radio"] {
    border-radius: 0;
    cursor: pointer;
    height: auto;
    line-height: normal;
    padding: 0;
    width: auto;
}
input[type="file"] {
    background-color: #FFFFFF;
    border: initial;
    box-shadow: none;
    line-height: initial;
    padding: initial;
    width: auto;
}
input[type="button"], input[type="reset"], input[type="submit"] {
    height: auto;
    width: auto;
}
select, input[type="file"] {
    height: 28px;
    line-height: 28px;
}
input[type="file"] {
}
select {
    background-color: #FFFFFF;
}
select[multiple], select[size] {
    height: auto;
}
input[type="image"] {
    box-shadow: none;
}
textarea {
    height: auto;
}
input[type="hidden"] {
    display: none;
}
input[disabled], select[disabled], textarea[disabled] {
    cursor: not-allowed;
}
input[readonly], select[readonly], textarea[readonly] {
    cursor: pointer;
}
.clearfix:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
.clearfix {
}
* html .clearfix {
    height: 1%;
}
#mask {
    background-color: #000000;
    bottom: 0;
    left: 0;
    opacity: 0.8;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    z-index: 1000;
}
#img-detail {
    left: 0;
    position: fixed;
    top: 25%;
    width: 100%;
    z-index: 1010;
}
.alert-warning {
    background-color: #FCF8E3 !important;
    border-color: #8A6D3B !important;
    color: #8A6D3B !important;
}
.alert-warning a {
    color: #8A6D3B !important;
    display: block;
}
.alert {
    border: 1px solid rgba(0, 0, 0, 0);
    margin-bottom: 20px;
    padding: 15px;
}
.alert-success {
    background-color: #DFF0D8 !important;
    border-color: #D6E9C6 !important;
    color: #3C763D !important;
}
