.item-list-hd {
    background: #C53801;
    height: 50px;
    *zoom: 1;
    /* for IE 6/7 */
}
.item-list-hd:before,
.item-list-hd:after {
    display: table;
    content: "";
    line-height: 0;
    /* for Opera */
}
.item-list-hd:after {
    clear: both;
}
.item-list-hd h1 {
    float: left;
    line-height: 50px;
    padding-left: 10px;
    color: #ffffff;
}
.item-list-hd a {
    float: right;
    color: #ffffff;
    line-height: 50px;
    padding: 0 5px;
}
.item-list-hd a:hover {
    color: #ffffff;
    background-image: -o-gradient(linear, 0 50%, 0 150%, from(#2e99cf), to(#46c7f4));
    background-image: -moz-gradient(linear, 0 50%, 0 150%, from(#2e99cf), to(#46c7f4));
    background-image: -webkit-gradient(linear, 0 50%, 0 150%, from(#2e99cf), to(#46c7f4));
    background-image: -ms-gradient(linear, 0 50%, 0 150%, from(#2e99cf), to(#46c7f4));
}
.item-list li {
    border-bottom: 1px solid #d6d6d6;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.item-list li a {
    padding: 10px 10px 15px;
    display: block;
    color: #808080;
    *zoom: 1;
    /* for IE 6/7 */
}
.item-list li a:before,
.item-list li a:after {
    display: table;
    content: "";
    line-height: 0;
    /* for Opera */
}
.item-list li a:after {
    clear: both;
}
.item-list li a:hover {
    background: #f5f5f5;
    color: #808080;
}
.item-list li a > div {
    margin-left: 126px;
}
.item-list li a > div div {
    position: relative;
    font-size: 13px;
}
.item-list li a > div div strong {
    color: #3399cc;
    font-size: 20px;
}
.item-list li a > div div span {
    position: absolute;
    right: 0;
    font-size: 12px;
}
.item-list li img {
    float: left;
    width: 120px;
    height: 80px;
}
.item-list li h2 {
    max-width: 100%;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    display: block;
    color: #555555;
}
.item-list li p {
    font-size: 12px;
    min-height: 36px;
}
